@model Codecool.CodecoolShop.Models.UserData.UserDataModel

@{
    ViewData["Title"] = "Checkout";
}

<h1>CheckoutCart</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Checkout" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Phone number</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <br/>
            <h3>Billing Address</h3>
            <hr/>
            <div clas="form-group">
                <label asp-for="BillingAddress.Country" class="control-label">Country</label>
                <input asp-for="BillingAddress.Country" class="form-control"/>
                <span asp-validation-for="BillingAddress.Country" class="text-danger"></span>
            </div>
            <div clas="form-group">
                <label asp-for="BillingAddress.City" class="control-label">City</label>
                <input asp-for="BillingAddress.City" class="form-control"/>
                <span asp-validation-for="BillingAddress.City" class="text-danger"></span>
            </div>
            <div clas="form-group">
                <label asp-for="BillingAddress.Zipcode" class="control-label">Zip code</label>
                <input asp-for="BillingAddress.Zipcode" class="form-control"/>
                <span asp-validation-for="BillingAddress.Zipcode" class="text-danger"></span>
            </div>
            <div clas="form-group">
                <label asp-for="BillingAddress.Address" class="control-label">Address</label>
                <input asp-for="BillingAddress.Address" class="form-control"/>
                <span asp-validation-for="BillingAddress.Address" class="text-danger"></span>
            </div>
            <br/>
            <h3>Shipping Address</h3>
            <hr/>
            <div clas="form-group">
                <label asp-for="ShippingAddress.Country" class="control-label">Country</label>
                <input asp-for="ShippingAddress.Country" class="form-control"/>
                <span asp-validation-for="ShippingAddress.Country" class="text-danger"></span>
            </div>
            <div clas="form-group">
                <label asp-for="ShippingAddress.City" class="control-label">City</label>
                <input asp-for="ShippingAddress.City" class="form-control"/>
                <span asp-validation-for="ShippingAddress.City" class="text-danger"></span>
            </div>
            <div clas="form-group">
                <label asp-for="ShippingAddress.Zipcode" class="control-label">Zip code</label>
                <input asp-for="ShippingAddress.Zipcode" class="form-control"/>
                <span asp-validation-for="ShippingAddress.Zipcode" class="text-danger"></span>
            </div>
            <div clas="form-group">
                <label asp-for="ShippingAddress.Address" class="control-label">Address</label>
                <input asp-for="ShippingAddress.Address" class="form-control"/>
                <span asp-validation-for="ShippingAddress.Address" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Payment" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewCart" asp-controller="Cart">Back to cart</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
